Repository galatea-associates/locate-pricing-engine-eaotun, changes with the owners that .github/CODEOWNERS names for each.
All owners: @repo-admins, @backend-team, @financial-engineers, @api-team, @data-team, @qa-team, @devops-team, @documentation-team, @integration-team, @security-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/db/crud/api_keys.py
  src/backend/db/crud/api_keys.py
Owners: @data-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/db/crud/audit.py
  src/backend/db/crud/audit.py
Owners: @data-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/db/crud/base.py
  src/backend/db/crud/base.py
Owners: @data-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/db/crud/brokers.py
  src/backend/db/crud/brokers.py
Owners: @data-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/db/crud/stocks.py
  src/backend/db/crud/stocks.py
Owners: @data-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/db/crud/volatility.py
  src/backend/db/crud/volatility.py
Owners: @data-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/db/migrations/__init__.py
  src/backend/db/migrations/__init__.py
Owners: @data-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/db/migrations/env.py
  src/backend/db/migrations/env.py
Owners: @data-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/db/models/__init__.py
  src/backend/db/models/__init__.py
Owners: @data-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/db/models/api_key.py
  src/backend/db/models/api_key.py
Owners: @data-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/db/models/audit.py
  src/backend/db/models/audit.py
Owners: @data-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/db/models/base.py
  src/backend/db/models/base.py
Owners: @data-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/db/models/broker.py
  src/backend/db/models/broker.py
Owners: @data-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/db/models/stock.py
  src/backend/db/models/stock.py
Owners: @data-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/db/models/volatility.py
  src/backend/db/models/volatility.py
Owners: @data-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/infrastructure/__init__.py
  src/backend/infrastructure/__init__.py
Owners: @devops-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/infrastructure/alarms.ts
  src/backend/infrastructure/alarms.ts
Owners: @devops-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/infrastructure/aws.ts
  src/backend/infrastructure/aws.ts
Owners: @devops-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/infrastructure/aws_secret_manager.ts
  src/backend/infrastructure/aws_secret_manager.ts
Owners: @devops-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/infrastructure/cloudwatch.ts
  src/backend/infrastructure/cloudwatch.ts
Owners: @devops-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/infrastructure/eks.ts
  src/backend/infrastructure/eks.ts
Owners: @devops-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/infrastructure/rds.ts
  src/backend/infrastructure/rds.ts
Owners: @devops-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/infrastructure/redis.ts
  src/backend/infrastructure/redis.ts
Owners: @devops-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/infrastructure/security_groups.ts
  src/backend/infrastructure/security_groups.ts
Owners: @devops-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/infrastructure/vpc.ts
  src/backend/infrastructure/vpc.ts
Owners: @devops-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/middleware/__init__.py
  src/backend/middleware/__init__.py
Owners: @backend-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/middleware/authentication.py
  src/backend/middleware/authentication.py
Owners: @backend-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/middleware/error_handling.py
  src/backend/middleware/error_handling.py
Owners: @backend-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/middleware/logging.py
  src/backend/middleware/logging.py
Owners: @backend-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/middleware/rate_limiting.py
  src/backend/middleware/rate_limiting.py
Owners: @backend-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/middleware/tracing.py
  src/backend/middleware/tracing.py
Owners: @backend-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/schemas/__init__.py
  src/backend/schemas/__init__.py
Owners: @backend-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/schemas/api_key.py
  src/backend/schemas/api_key.py
Owners: @backend-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/schemas/audit.py
  src/backend/schemas/audit.py
Owners: @backend-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/schemas/broker.py
  src/backend/schemas/broker.py
Owners: @backend-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/schemas/calculation.py
  src/backend/schemas/calculation.py
Owners: @backend-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/schemas/error.py
  src/backend/schemas/error.py
Owners: @backend-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/schemas/request.py
  src/backend/schemas/request.py
Owners: @backend-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/schemas/response.py
  src/backend/schemas/response.py
Owners: @backend-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/schemas/stock.py
  src/backend/schemas/stock.py
Owners: @backend-team

.github/CODEOWNERS:

* @repo-admins

# Backend service implementation including API, calculation engine, and data services
src/backend/ @backend-team

# Core calculation logic for borrow rates and fees requiring financial domain expertise
src/backend/services/calculation/ @financial-engineers

# API endpoints and interface definitions
src/backend/api/ @api-team

# Database models, migrations, and data access layer
src/backend/db/ @data-team

# Test infrastructure, test cases, and test utilities
src/test/ @qa-team

# Infrastructure as code, Kubernetes configurations, and deployment resources
infrastructure/ @devops-team

# Documentation files including API specs, architecture docs, and operational guides
docs/ @documentation-team

# CI/CD pipeline configurations
.github/workflows/ @devops-team

# External API integrations with market data providers
src/backend/services/external/ @integration-team

# Security-related implementations
src/backend/core/security.py @security-team

# Authentication and authorization implementations
src/backend/core/auth.py @security-team
