Repository galatea-associates/locate-pricing-engine-eaotun, changes with the owners that .github/CODEOWNERS names for each.
All owners: @repo-admins, @backend-team, @financial-engineers, @api-team, @data-team, @qa-team, @devops-team, @documentation-team, @integration-team, @security-team

Add public-samples/locate-pricing-engine-eaotun/.github/pull_request_template.md
  .github/pull_request_template.md
Owners: @repo-admins

Add public-samples/locate-pricing-engine-eaotun/.github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @repo-admins

Add public-samples/locate-pricing-engine-eaotun/.github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @repo-admins

Add public-samples/locate-pricing-engine-eaotun/.github/workflows/build.yml
  .github/workflows/build.yml
Owners: @devops-team

Add public-samples/locate-pricing-engine-eaotun/.github/workflows/deploy-dev.yml
  .github/workflows/deploy-dev.yml
Owners: @devops-team

Add public-samples/locate-pricing-engine-eaotun/.github/workflows/deploy-prod.yml
  .github/workflows/deploy-prod.yml
Owners: @devops-team

Add public-samples/locate-pricing-engine-eaotun/.github/workflows/deploy-staging.yml
  .github/workflows/deploy-staging.yml
Owners: @devops-team

Add public-samples/locate-pricing-engine-eaotun/blitzy/documentation/Input Prompt.md
  blitzy/documentation/Input Prompt.md
Owners: @repo-admins

Add public-samples/locate-pricing-engine-eaotun/blitzy/documentation/Project Guide.md
  blitzy/documentation/Project Guide.md
Owners: @repo-admins

Add public-samples/locate-pricing-engine-eaotun/blitzy/documentation/Technical Specifications.md
  blitzy/documentation/Technical Specifications.md
Owners: @repo-admins

Add public-samples/locate-pricing-engine-eaotun/docs/api/openapi.yaml
  docs/api/openapi.yaml
Owners: @documentation-team

Add public-samples/locate-pricing-engine-eaotun/docs/api/postman_collection.json
  docs/api/postman_collection.json
Owners: @documentation-team

Add public-samples/locate-pricing-engine-eaotun/docs/architecture/api-design.md
  docs/architecture/api-design.md
Owners: @documentation-team

Add public-samples/locate-pricing-engine-eaotun/docs/architecture/data-flow.md
  docs/architecture/data-flow.md
Owners: @documentation-team

Add public-samples/locate-pricing-engine-eaotun/docs/architecture/monitoring.md
  docs/architecture/monitoring.md
Owners: @documentation-team

Add public-samples/locate-pricing-engine-eaotun/docs/architecture/overview.md
  docs/architecture/overview.md
Owners: @documentation-team

Add public-samples/locate-pricing-engine-eaotun/docs/architecture/security.md
  docs/architecture/security.md
Owners: @documentation-team

Add public-samples/locate-pricing-engine-eaotun/docs/development/ci-cd.md
  docs/development/ci-cd.md
Owners: @documentation-team

Add public-samples/locate-pricing-engine-eaotun/docs/development/coding-standards.md
  docs/development/coding-standards.md
Owners: @documentation-team

Add public-samples/locate-pricing-engine-eaotun/docs/development/setup.md
  docs/development/setup.md
Owners: @documentation-team

Add public-samples/locate-pricing-engine-eaotun/docs/development/testing-guide.md
  docs/development/testing-guide.md
Owners: @documentation-team

Add public-samples/locate-pricing-engine-eaotun/docs/operations/backup-recovery.md
  docs/operations/backup-recovery.md
Owners: @documentation-team

Add public-samples/locate-pricing-engine-eaotun/docs/operations/deployment.md
  docs/operations/deployment.md
Owners: @documentation-team

Add public-samples/locate-pricing-engine-eaotun/docs/operations/incident-response.md
  docs/operations/incident-response.md
Owners: @documentation-team

Add public-samples/locate-pricing-engine-eaotun/docs/operations/monitoring.md
  docs/operations/monitoring.md
Owners: @documentation-team

Add public-samples/locate-pricing-engine-eaotun/docs/operations/scaling.md
  docs/operations/scaling.md
Owners: @documentation-team

Add public-samples/locate-pricing-engine-eaotun/docs/operations/security-procedures.md
  docs/operations/security-procedures.md
Owners: @documentation-team

Add public-samples/locate-pricing-engine-eaotun/docs/operations/troubleshooting.md
  docs/operations/troubleshooting.md
Owners: @documentation-team

Add public-samples/locate-pricing-engine-eaotun/docs/operations/runbooks/api-service.md
  docs/operations/runbooks/api-service.md
Owners: @documentation-team

Add public-samples/locate-pricing-engine-eaotun/docs/operations/runbooks/cache-service.md
  docs/operations/runbooks/cache-service.md
Owners: @documentation-team

Add public-samples/locate-pricing-engine-eaotun/docs/operations/runbooks/calculation-service.md
  docs/operations/runbooks/calculation-service.md
Owners: @documentation-team

Add public-samples/locate-pricing-engine-eaotun/docs/operations/runbooks/data-service.md
  docs/operations/runbooks/data-service.md
Owners: @documentation-team

Add public-samples/locate-pricing-engine-eaotun/docs/operations/runbooks/database.md
  docs/operations/runbooks/database.md
Owners: @documentation-team

Add public-samples/locate-pricing-engine-eaotun/infrastructure/helm/api-gateway/Chart.yaml
  infrastructure/helm/api-gateway/Chart.yaml
Owners: @devops-team

Add public-samples/locate-pricing-engine-eaotun/infrastructure/helm/api-gateway/values.yaml
  infrastructure/helm/api-gateway/values.yaml
Owners: @devops-team

Add public-samples/locate-pricing-engine-eaotun/infrastructure/helm/api-gateway/templates/deployment.yaml
  infrastructure/helm/api-gateway/templates/deployment.yaml
Owners: @devops-team

Add public-samples/locate-pricing-engine-eaotun/infrastructure/helm/api-gateway/templates/service.yaml
  infrastructure/helm/api-gateway/templates/service.yaml
Owners: @devops-team

Add public-samples/locate-pricing-engine-eaotun/infrastructure/helm/audit-service/Chart.yaml
  infrastructure/helm/audit-service/Chart.yaml
Owners: @devops-team

Add public-samples/locate-pricing-engine-eaotun/infrastructure/helm/audit-service/values.yaml
  infrastructure/helm/audit-service/values.yaml
Owners: @devops-team

Add public-samples/locate-pricing-engine-eaotun/infrastructure/helm/audit-service/templates/deployment.yaml
  infrastructure/helm/audit-service/templates/deployment.yaml
Owners: @devops-team

.github/CODEOWNERS:

* @repo-admins

# Backend service implementation including API, calculation engine, and data services
src/backend/ @backend-team

# Core calculation logic for borrow rates and fees requiring financial domain expertise
src/backend/services/calculation/ @financial-engineers

# API endpoints and interface definitions
src/backend/api/ @api-team

# Database models, migrations, and data access layer
src/backend/db/ @data-team

# Test infrastructure, test cases, and test utilities
src/test/ @qa-team

# Infrastructure as code, Kubernetes configurations, and deployment resources
infrastructure/ @devops-team

# Documentation files including API specs, architecture docs, and operational guides
docs/ @documentation-team

# CI/CD pipeline configurations
.github/workflows/ @devops-team

# External API integrations with market data providers
src/backend/services/external/ @integration-team

# Security-related implementations
src/backend/core/security.py @security-team

# Authentication and authorization implementations
src/backend/core/auth.py @security-team
