Repository galatea-associates/locate-pricing-engine-eaotun, changes with the owners that .github/CODEOWNERS names for each.
All owners: @repo-admins, @backend-team, @financial-engineers, @api-team, @data-team, @qa-team, @devops-team, @documentation-team, @integration-team, @security-team

Add public-samples/locate-pricing-engine-eaotun/infrastructure/monitoring/tempo-config.yaml
  infrastructure/monitoring/tempo-config.yaml
Owners: @devops-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/.env.example
  src/backend/.env.example
Owners: @backend-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/.gitignore
  src/backend/.gitignore
Owners: @backend-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/Dockerfile
  src/backend/Dockerfile
Owners: @backend-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/README.md
  src/backend/README.md
Owners: @backend-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/alembic.ini
  src/backend/alembic.ini
Owners: @backend-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: @backend-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/main.py
  src/backend/main.py
Owners: @backend-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/pyproject.toml
  src/backend/pyproject.toml
Owners: @backend-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/requirements.txt
  src/backend/requirements.txt
Owners: @backend-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/setup.py
  src/backend/setup.py
Owners: @backend-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/tsconfig.json
  src/backend/tsconfig.json
Owners: @backend-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/api/__init__.py
  src/backend/api/__init__.py
Owners: @api-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/api/deps.py
  src/backend/api/deps.py
Owners: @api-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/api/utils.py
  src/backend/api/utils.py
Owners: @api-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/api/v1/__init__.py
  src/backend/api/v1/__init__.py
Owners: @api-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/api/v1/api.py
  src/backend/api/v1/api.py
Owners: @api-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/api/v1/endpoints/__init__.py
  src/backend/api/v1/endpoints/__init__.py
Owners: @api-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/api/v1/endpoints/calculate.py
  src/backend/api/v1/endpoints/calculate.py
Owners: @api-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/api/v1/endpoints/config.py
  src/backend/api/v1/endpoints/config.py
Owners: @api-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/api/v1/endpoints/health.py
  src/backend/api/v1/endpoints/health.py
Owners: @api-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/api/v1/endpoints/rates.py
  src/backend/api/v1/endpoints/rates.py
Owners: @api-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/config/__init__.py
  src/backend/config/__init__.py
Owners: @backend-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/config/environment.py
  src/backend/config/environment.py
Owners: @backend-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/config/logging_config.py
  src/backend/config/logging_config.py
Owners: @backend-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/config/settings.py
  src/backend/config/settings.py
Owners: @backend-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/core/__init__.py
  src/backend/core/__init__.py
Owners: @backend-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/core/auth.py
  src/backend/core/auth.py
Owners: @security-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/core/constants.py
  src/backend/core/constants.py
Owners: @backend-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/core/errors.py
  src/backend/core/errors.py
Owners: @backend-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/core/exceptions.py
  src/backend/core/exceptions.py
Owners: @backend-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/core/logging.py
  src/backend/core/logging.py
Owners: @backend-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/core/middleware.py
  src/backend/core/middleware.py
Owners: @backend-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/core/security.py
  src/backend/core/security.py
Owners: @security-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/db/__init__.py
  src/backend/db/__init__.py
Owners: @data-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/db/base.py
  src/backend/db/base.py
Owners: @data-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/db/init_db.py
  src/backend/db/init_db.py
Owners: @data-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/db/session.py
  src/backend/db/session.py
Owners: @data-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/db/utils.py
  src/backend/db/utils.py
Owners: @data-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/db/crud/__init__.py
  src/backend/db/crud/__init__.py
Owners: @data-team

.github/CODEOWNERS:

* @repo-admins

# Backend service implementation including API, calculation engine, and data services
src/backend/ @backend-team

# Core calculation logic for borrow rates and fees requiring financial domain expertise
src/backend/services/calculation/ @financial-engineers

# API endpoints and interface definitions
src/backend/api/ @api-team

# Database models, migrations, and data access layer
src/backend/db/ @data-team

# Test infrastructure, test cases, and test utilities
src/test/ @qa-team

# Infrastructure as code, Kubernetes configurations, and deployment resources
infrastructure/ @devops-team

# Documentation files including API specs, architecture docs, and operational guides
docs/ @documentation-team

# CI/CD pipeline configurations
.github/workflows/ @devops-team

# External API integrations with market data providers
src/backend/services/external/ @integration-team

# Security-related implementations
src/backend/core/security.py @security-team

# Authentication and authorization implementations
src/backend/core/auth.py @security-team
