Repository galatea-associates/locate-pricing-engine-eaotun, changes with the owners that .github/CODEOWNERS names for each.
All owners: @repo-admins, @backend-team, @financial-engineers, @api-team, @data-team, @qa-team, @devops-team, @documentation-team, @integration-team, @security-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/schemas/volatility.py
  src/backend/schemas/volatility.py
Owners: @backend-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/scripts/__init__.py
  src/backend/scripts/__init__.py
Owners: @backend-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/scripts/benchmark.py
  src/backend/scripts/benchmark.py
Owners: @backend-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/scripts/generate_api_key.py
  src/backend/scripts/generate_api_key.py
Owners: @backend-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/scripts/health_check.py
  src/backend/scripts/health_check.py
Owners: @backend-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/scripts/run_migrations.py
  src/backend/scripts/run_migrations.py
Owners: @backend-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/scripts/seed_data.py
  src/backend/scripts/seed_data.py
Owners: @backend-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/services/__init__.py
  src/backend/services/__init__.py
Owners: @backend-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/services/audit/__init__.py
  src/backend/services/audit/__init__.py
Owners: @backend-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/services/audit/logger.py
  src/backend/services/audit/logger.py
Owners: @backend-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/services/audit/transactions.py
  src/backend/services/audit/transactions.py
Owners: @backend-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/services/audit/utils.py
  src/backend/services/audit/utils.py
Owners: @backend-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/services/cache/__init__.py
  src/backend/services/cache/__init__.py
Owners: @backend-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/services/cache/local.py
  src/backend/services/cache/local.py
Owners: @backend-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/services/cache/redis.py
  src/backend/services/cache/redis.py
Owners: @backend-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/services/cache/strategies.py
  src/backend/services/cache/strategies.py
Owners: @backend-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/services/cache/utils.py
  src/backend/services/cache/utils.py
Owners: @backend-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/services/calculation/__init__.py
  src/backend/services/calculation/__init__.py
Owners: @financial-engineers

Add public-samples/locate-pricing-engine-eaotun/src/backend/services/calculation/borrow_rate.py
  src/backend/services/calculation/borrow_rate.py
Owners: @financial-engineers

Add public-samples/locate-pricing-engine-eaotun/src/backend/services/calculation/event_risk.py
  src/backend/services/calculation/event_risk.py
Owners: @financial-engineers

Add public-samples/locate-pricing-engine-eaotun/src/backend/services/calculation/formulas.py
  src/backend/services/calculation/formulas.py
Owners: @financial-engineers

Add public-samples/locate-pricing-engine-eaotun/src/backend/services/calculation/locate_fee.py
  src/backend/services/calculation/locate_fee.py
Owners: @financial-engineers

Add public-samples/locate-pricing-engine-eaotun/src/backend/services/calculation/utils.py
  src/backend/services/calculation/utils.py
Owners: @financial-engineers

Add public-samples/locate-pricing-engine-eaotun/src/backend/services/calculation/volatility.py
  src/backend/services/calculation/volatility.py
Owners: @financial-engineers

Add public-samples/locate-pricing-engine-eaotun/src/backend/services/data/__init__.py
  src/backend/services/data/__init__.py
Owners: @backend-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/services/data/audit.py
  src/backend/services/data/audit.py
Owners: @backend-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/services/data/brokers.py
  src/backend/services/data/brokers.py
Owners: @backend-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/services/data/stocks.py
  src/backend/services/data/stocks.py
Owners: @backend-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/services/data/utils.py
  src/backend/services/data/utils.py
Owners: @backend-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/services/data/volatility.py
  src/backend/services/data/volatility.py
Owners: @backend-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/services/external/__init__.py
  src/backend/services/external/__init__.py
Owners: @integration-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/services/external/client.py
  src/backend/services/external/client.py
Owners: @integration-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/services/external/event_api.py
  src/backend/services/external/event_api.py
Owners: @integration-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/services/external/market_api.py
  src/backend/services/external/market_api.py
Owners: @integration-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/services/external/seclend_api.py
  src/backend/services/external/seclend_api.py
Owners: @integration-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/services/external/utils.py
  src/backend/services/external/utils.py
Owners: @integration-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/tests/__init__.py
  src/backend/tests/__init__.py
Owners: @backend-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/tests/conftest.py
  src/backend/tests/conftest.py
Owners: @backend-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/tests/api/__init__.py
  src/backend/tests/api/__init__.py
Owners: @backend-team

Add public-samples/locate-pricing-engine-eaotun/src/backend/tests/api/test_auth.py
  src/backend/tests/api/test_auth.py
Owners: @backend-team

.github/CODEOWNERS:

* @repo-admins

# Backend service implementation including API, calculation engine, and data services
src/backend/ @backend-team

# Core calculation logic for borrow rates and fees requiring financial domain expertise
src/backend/services/calculation/ @financial-engineers

# API endpoints and interface definitions
src/backend/api/ @api-team

# Database models, migrations, and data access layer
src/backend/db/ @data-team

# Test infrastructure, test cases, and test utilities
src/test/ @qa-team

# Infrastructure as code, Kubernetes configurations, and deployment resources
infrastructure/ @devops-team

# Documentation files including API specs, architecture docs, and operational guides
docs/ @documentation-team

# CI/CD pipeline configurations
.github/workflows/ @devops-team

# External API integrations with market data providers
src/backend/services/external/ @integration-team

# Security-related implementations
src/backend/core/security.py @security-team

# Authentication and authorization implementations
src/backend/core/auth.py @security-team
